<ion-view view-title="F5 IT - Tecnologias de Informa&ccedil;&atilde;o">
  <ion-content>
    <div>
      <img src="img/icon_small.png" style=" display: block; margin-left: auto; margin-right: auto; ">
    </div>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">{{'USER' | translate}}</span>
        <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">{{'PASS' | translate}}</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="center sign-in-btn">
      <button translate= SESSION class="button button-block button-balanced " ng-click="signIn(user)"></button>
      <!--<p class="pp-text-center-color">
        <a href="#/forgot-password">Forgot password</a>
      </p>-->
    </div>

  </ion-content>
</ion-view>
