
<ion-view view-title="F5 IT - Tecnologias de Informa&ccedil;&atilde;o">
  <ion-content class="padding">
    <h2 translate="h2">Today's Deals!</h2>
    <p translate="hp1">
    This page will show products on sale. More info at <a href="http://www.f5it.pt" target="_blank">F5 IT</a>.
    </p>
    <p translate="hp2">

    </p><a target="_blank" href="http://www.f5it.pt">F5 IT - Tecnologias de Informação</a>


  </ion-content>
</ion-view>
