<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-background-balanced tabs-color-active-light ">

  <!-- Dashboard Tab -->
  <ion-tab  title="{{ 'TAB_HOME' | translate }}" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Orders" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


  <!-- Sign-Out Tab -->
  <ion-tab title="Terminar Sessão" icon="ion-ios-close-outline" icon-on="ion-ios-close" ng-controller="LogoutCtrl" ng-click="logout()">
  </ion-tab>

</ion-tabs>
