/* Empty. Add your own CSS if you like */

.title-image {
  height: 35px;
  border-radius:50%;
  overflow:hidden;
}

.item-input {
  width: 68%;
  border: solid;
  border-color: rgba(183, 178, 179, 0.93);
  border-radius: 4px;
  border-width: thin;
  margin-bottom: 5px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.center-text {
  text-align: center;
  padding:4px;
}

.sign-in-btn {
  width: 68%;
}

.input-color{
  color: #4a5055 !important;
}


.custPop{
}

.custPop .popup-buttons .button {
  background-color:#33cd5f !important;
}

.custPop .popup-buttons .button.activated {
  background-color: #444444 !important;
}
