<!DOCTYPE html>
<html>
<head>

  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <!--<meta http-equiv="Content-Security-Policy" content="default-src * gap://ready file:; style-src 'self' 'unsafe-inline'; img-src 'self' data:; script-src * 'unsafe-inline' 'unsafe-eval'">-->
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">




  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
-->

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="js/ng-cordova.js"></script>
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/translations.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/angular-translate.js"></script>
  <script src="js/cxf-utils.js"></script>
  <script src="js/CAdxWebServiceXmlCCService.js"></script>

</head>
<body ng-app="starter" ng-controller="TransCtrl">
  <!--
  The nav bar that will be updated as we navigate between views.
-->
<ion-nav-bar class="bar-balanced">
  <ion-nav-back-button>
  </ion-nav-back-button>


  <ion-nav-buttons side="left" >
    <!--<img class="title-image" src="img/ls.png" >-->
    <img src="img/ls.png" class="title-image" ng-if="$root.showAvatar">
  </ion-nav-buttons>

  <ion-nav-buttons side="right" >
    <button class="button button-clear" ng-class="{'button-dark': isActive('en')}" ng-click="setActive('en'); changeLanguage('en')">EN</button>
    <button class="button button-clear" ng-class="{'button-dark': isActive('pt')}" ng-click="setActive('pt'); changeLanguage('pt')">PT</button>
  </ion-nav-buttons>
</ion-nav-bar>
<!--
The views will be rendered in the <ion-nav-view> directive below
Templates are in the /templates folder (but you could also
have templates inline in this html file if you'd like).
-->
<ion-nav-view></ion-nav-view>
</body>
</html>
